:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  grid-area: header;
  background-color: #007d7a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header > div {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

main {
  grid-area: main;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  background-color: #007d7a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header .badge {
}

header .menubar {
  cursor: pointer;
}

footer > div {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
}

footer .info {
  color: #fff;
}

footer .version {
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.overlay .close {
  padding: 2rem;
  color: #fff;
  font-size: 5rem;
  text-align: right;
}

.close > span {
  transition: all 0.2s;
}

.close > span:hover {
  color: #18e2df;
  cursor: pointer;
}

.overlay ul {
  padding-top: 5rem;
  list-style-type: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.overlay li {
  padding: 1rem;
  font-size: 3.5rem;
  transition: all 0.2s;
}

.overlay li:hover {
  color: #18e2df;
  transform: scale(1.05);
  cursor: pointer;
}

.overlay .menulinks {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
}

.visible {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

label {
  color: #007d7a;
  font-weight: 500;
}

input {
  border: 2px solid #007d7a;
  border-radius: 3px;
  padding: 1rem;
}

button {
  background-color: #007d7a;
  padding: 1rem;
  border: 0;
  color: #fff;
  border-radius: 3px;
  font-size: 2rem;
}
