.container {
  height: 100%;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  transition: all 0.2s;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
